<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.github.mtdp.base.shorturl.dao.IShortURLMapper">
	
		<select id="get" resultType="ShortURL">
			select *
			from t_short_url
			where shortURLId=#{shortURLId}
		</select>
		
		<select id="gets" resultType="ShortURL">
			select *
			from t_short_url
		</select>
		
		<!-- 根据短url地址查询 -->
		<select id="getByShortCode" resultType="ShortURL">
			select *
			from t_short_url
			where shortCode=#{shortCode}
		</select>
		
		<delete id="del">
			delete from t_short_url where shortURLId=#{shortURLId}
		</delete>
		
		<!-- keyProperty="shortURLId" 指定了ShortURL对象中的属性 -->
		<insert id="add" parameterType="ShortURL" keyProperty="shortURLId" useGeneratedKeys="true">
			insert into t_short_url(shortCode
						<if test="shortURLName != null and shortURLName != ''">
							,shortURLName
						</if>
						<if test="originalURL != null and originalURL != ''">
							,originalURL
						</if>
						<if test="validVisitTimes != null and validVisitTimes != ''">
							,validVisitTimes
						</if>
						<if test="visitedTimes != null and visitedTimes != ''">
							,visitedTimes
						</if>
						<if test="startValidTime != null and startValidTime != ''">
							,startValidTime
						</if>
						<if test="endValidTime != null and endValidTime != ''">
							,endValidTime
						</if>
						<if test="createTime != null and createTime != ''">
							,createTime
						</if>
						<if test="updateTime != null and updateTime != ''">
							,updateTime
						</if>
						) 
						values(#{shortCode}
						<if test="shortURLName != null and shortURLName != ''">
							,#{shortURLName}
						</if>
						<if test="originalURL != null and originalURL != ''">
							,#{originalURL}
						</if>
						<if test="validVisitTimes != null and validVisitTimes != ''">
							,#{validVisitTimes}
						</if>
						<if test="visitedTimes != null and visitedTimes != ''">
							,#{visitedTimes}
						</if>
						<if test="startValidTime != null and startValidTime != ''">
							,#{startValidTime}
						</if>
						<if test="endValidTime != null and endValidTime != ''">
							,#{endValidTime}
						</if>
						<if test="createTime != null and createTime != ''">
							,#{createTime}
						</if>
						<if test="updateTime != null and updateTime != ''">
							,#{updateTime}
						</if>
						)
		</insert>
		
		<update id="update" parameterType="ShortURL">
			update t_short_url set shortURLId=#{shortURLId}
			<if test="shortCode != null and shortCode != ''">
				,shortCode=#{shortCode}
			</if>
			<if test="shortURLName != null and shortURLName != ''">
				,shortURLName=#{shortURLName}
			</if>
			<if test="originalURL != null and originalURL != ''">
				,originalURL=#{originalURL}
			</if>
			<if test="validVisitTimes != null and validVisitTimes != ''">
				,validVisitTimes=#{validVisitTimes}
			</if>
			<if test="visitedTimes != null and visitedTimes != ''">
				,visitedTimes=#{visitedTimes}
			</if>
			<if test="startValidTime != null and startValidTime != ''">
				,startValidTime=#{startValidTime}
			</if>
			<if test="endValidTime != null and endValidTime != ''">
				,endValidTime=#{endValidTime}
			</if>
			<if test="updateTime != null and updateTime != ''">
				,updateTime=#{updateTime}
			</if>
			where shortURLId=#{shortURLId}
		</update>
		
	</mapper>