<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


	<dubbo:application name="tdp-base" owner="wangguoqing" organization="mtdp"/>

	<dubbo:registry timeout="15000" id="service" protocol="${dubbo.registry.protocol}" file="${user.home}/.dubbo-cache/provider-base-rt" address="${dubbo.registry.address}" group="dubbo-online" check="false" />
	
	<dubbo:protocol port="1${env.num}${dubbo.port}" name="${dubbo.protocol.name}" threadpool="${dubbo.protocol.threadpool}" threads="${dubbo.protocol.threads}" />
	
	<dubbo:provider timeout="${dubbo.provider.timeout}"/>
	
	<!-- 服务消费者缺省值配置 check="false" 关闭所有服务的启动时检查-->
	<dubbo:consumer timeout="15000" retries="0" check="false"/>
			
	<!-- 短连接服务 -->
	<dubbo:service interface="com.github.mtdp.base.shorturl.service.IShortURLService" ref="shortURLServiceImpl" version="1.0.0"/>
	<!-- 验证码服务 -->
	<dubbo:service interface="com.github.mtdp.base.captcha.service.ICaptchaService" ref="captchaServiceImpl" version="1.0.0"/>
</beans>